<div class="user-item">
	<div class="row">
		<div class="col-md-4">
			<%= gravatar_for user %>
		</div>
		<div class="col-md-8">
			<p><%= link_to "#{user.name}", user %></p>
			<%= render 'shared/stats', user: user %>
		</div>
	</div>
</div>