<div class="dropdown search-dropdown">
    <a href="#" class="dropdown-toggle header-link" data-toggle="dropdown">
      フィルター <b class="caret"></b>
    </a>
    <!-- 検索のコントローラーとビューを編集 -->
    <ul class="dropdown-menu">
      <li><%= link_to "投稿日順",  microposts_path(sort_version: "post_created_at", search_version: params[:search_version],
      		video_type: params[:video_type]) %></li>	
      <li><%= link_to "いいね数順", microposts_path(sort_version: "likes_count", search_version: params[:search_version],
      		 video_type: params[:video_type]) %></li>
     </ul>
</div>
