@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
} 

@mixin center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  padding-top: 60px;
  background-color: #FAFAFA;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */
.header {
  background-color: white;
}

.navbar_nav a {
   color: #EEEEEE;
}

.header-link {
  color: #999999;
}

/* footer */

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}


footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
	a {
	  color: #555;
		&:hover {
		  color: #222;
		}
	}

	small {
	  float: left;
	}

	ul {
	  float: right;
	  list-style: none;
		li {
		  float: left;
		  margin-left: 15px;
		}
	}
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* home */
.main {
  height: 600px;
  .title {
    height: 100%;
    width: 100%;
    @include center-column;
    .youtubit {
      font-size: 100px;
      color: red;
    }
  }
}

.ranking-order {
  font-size: 20px;
}

.ranking-video-title {
  font-size: 20px;
}

.ranking-user-name {
  font-size: 20px;
}

.signup a {
  color: #999999;
}

/* signup */

.form-item {
  margin-bottom: 30px;
}

.form-item.field input, select, textarea {
  width: 100%;
}

.form-btn {
    margin-top: 60px;
  p {
    @include center-row;
  }
}

.submit-btn {
  width: 50%;
}

/* login */
#session_remember_me {
  margin-left: 8px
}

/* micropost */
.micropost-item {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  margin: 10px 0;
  padding: 10px 0; 
  .micropost-title {
    margin: 10px 0;
     a {
      font-size: 20px;
      color: black;
    }
  }
}

.non-items {
  text-align: center;
}

.non-items-title{
  text-align: center;
}

.micropost-created_at {
  margin-top: 20px;
}

.micropost-content {
  background-color: white;
  border: 1px solid #eaeaea;
}

.micropost-like {
  margin-top: 20px;
}

.glyphicon.glyphicon-heart-empty, .glyphicon-heart {
  font-size: 23px;
}

.glyphicon.glyphicon-heart {
  color: #FFCCCC;
}


/* _user */
.user-item {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  margin: 5px 0 ;
}

/* search */

.movies-item {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  margin: 10px 0;
  padding: 10px 0;
}

.search-movie-title {
  font-size: 18px;
  margin-bottom: 8px;
  display: block;
}

.search-form{
  margin-top: 20px;
  label, input {
      display: block;
      margin-bottom: 10px;
  } 
} 

/* microposts/new */
#micropost_content {
  height: 150px;
}

.micropost-post-title {
  text-align: center;
}

.micropost-video-info {
  padding: 5px;
  border: 1px solid #eaeaea;
  .title {
    font-weight: bold;
  }
}

/* search-form */
.form-search-anything {
  display: inline-block;
}

.search-form-wrapper {
  display: flex;
}

.search-dropdown {
 margin-top: 10px;
 margin-right: 5px;
}








